#table_container {
	background-color: aliceblue;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
	border-radius: 15px;
}

div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }

.modal-content {
	width: auto;
	align-items: center;
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}


.character_picture {
	 color: blue;
	 text-decoration: underline;
}


.element_icon {
	text-align: left;
}

.normal_attack { background-color: #FFD573; }
.skill_attack { background-color: #FFCA4E; }
.special_attack { background-color: #FFBF29; }